.container {
  margin: 0px 15%;
  height: 100%;
}

input {
  outline: none;
  background: transparent;
  border: 0px;
  font-weight: 200;
  letter-spacing: 1px;
}

#algolia-logo {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 150px;
  opacity: 0.7;
}