.search-content {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80%;
  margin: 0px 10%;
}

.search-header {
  display: inline-flex;
  height: 50px;
  font-size: 27px;
  transition: opacity 0.5s;
}

.search-header.hidden {
  opacity: 0;
}

.search-header .movie-icon {
  margin-right: 15px;
  fill: white;
  font-size: 32px;
  align-self: center;
}

.search-header .total-results {
  align-self: center;
}

.search-header .new-movie-button {
  margin-left: auto;
  cursor: pointer;
  opacity: 0.7;
  font-size: 22px;
  align-self: center;
  transition: opacity 0.7s;
}

.search-header .new-movie-button:hover {
  opacity: 1;
  transition: opacity 0.7s;
}

.search-header .return-button {
  margin-left: 7px;
}

.search-header span {
  margin: 0px;
  font-weight: 200;
}